<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dịch vụ</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2c37014309.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="info-dn">
            <form action="">
                <h2>Chào mừng đến với đăng nhập</h2>
                <p>Email</p>
                <input type="email" placeholder="abcxyz@gmail.com">
                <p>Mật khẩu</p>
                <input type="password" placeholder="**********">
                <input type="checkbox" ><p>Ghi nhớ tài khoản</p>
                <a href="">Quên mật khẩu</a>
                <button type="submit"> Đăng nhập</button>
                <button type=""><i class="fa-brands fa-google"></i> Đăng nhập bằng tài khoản google</button>
                
            </form>
            <p>Bạn chưa có tài khoản? <a href="">Tạo tài khoản miễn phí</a></p>
        </div>
        <div class="info-dn-img">
            <img src="../image/image 1.png" alt="">
        </div>
    </div>
</body>

</html>